---
layout: page
title: "PROJECT"
header-img : "img/post-bg-css.jpg"
description: "You will never know unless you try."
---

{% assign posts=site.project | where:"layout","post" %}
{% assign posts = posts | sort: 'date' %}
{% assign posts = posts | reverse %}

{% for post in posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                <!-- {{ post.content | strip_html | truncatewords: 10 }} -->
                {{ post.content | split:'<!-- more -->' | first }}
            {% else %}
                <!-- {{ post.content | strip_html | truncatewords: 10 }} -->
                {{ post.content | split:'<!-- more -->' | first }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
<!--
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
-->
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
